Source: guppy
Section: devel
Priority: extra
Maintainer: Yaroslav Halchenko <debian@onerussian.com>
Build-Depends: debhelper (>= 5.0.38), python-all-dev (>=2.3.5-11), python-central (>=0.5.6), dpatch
XS-Python-Version: >=2.3
Standards-Version: 3.7.2

Package: python-guppy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Python programming environment
 Guppy-PE is a programming environment providing object and heap
 memory sizing, profiling and analysis. It includes a prototypical
 specification language that can be used to formally specify aspects of
 Python programs and generate tests and documentation from a common
 source.
 .
 Modules which constitute the environment:
  - Heapy: debugging and optimization regarding memory related issues
    in Python programs
  - GSL (Guppy Specification Language): describes aspects of a system,
    especially its API, in a way that can be automatically converted
    to tests as well as to documents
  - Guppy: umbrella package combining Heapy and GSL with support
    utilities such as the Glue module that keeps things together
 .
  Homepage: http://guppy-pe.sourceforge.net
